<div class="jumbotron">
<h1>{{communityObj.name}}</h1>
<h2>Founder: {{communityObj.createdBy}}</h2>


<button id="joinCommunity" type="button" class="btn btn-default" ng-click="joinCommunity($event)">
	<span class="glyphicon glyphicon-ok" aria-hidden="true">Join</span>
</button>
</div>

<div class='home-layout jumbotron'>
	<div class="page-header">
		<h2>Outstanding Deeds</h2>
	</div>
	<div class="scrollable-box">
		<div ng-repeat="(key, value) in communityObj.posts">
			<a href="">
				<my-feed-item my-feed-item-id="{{key}}" my-feed-item-name="{{value.communityName}}" my-feed-item-deeds="{{value.deeds}}">
				{{value.message}}
				</my-feed-item>
			</a>
		</div>
	</div>
</div>

<div class='home-layout jumbotron'>
	<div class="page-header">
		<h2>Members</h2>
	</div>
	<div class="scrollable-box">
		<div ng-repeat="(key, value) in communityObj.members">
			<p>{{key}}</p>
		</div>
	</div>
</div>


