<div class='home-layout'>
	<h1>Home</h1> 
	<h3>Balance<span class="label label-default">{{deedsBalance}}</span></h3>
	<my-create-post-modal ng-controller="CreatePostCtrl"></my-create-post-modal><br>
	<my-create-community-modal ng-controller="CreateCommunityCtrl"></my-create-community-modal><br>
	<my-search-community-modal></my-search-community-modal>
	<button ng-click="logout($event)">logout</button>
</div>

<div class='home-layout jumbotron'>
	<div class="page-header">
		<h2>Accepted Deeds</h2>
	</div>
	<div class="scrollable-box">
		<div ng-repeat="(key, value) in acceptedPosts">
			<a href="#/deed/{{key}}">
				<my-feed-item my-feed-id="{{key}}" my-feed-title="{{value.community}}" my-feed-deeds="{{value.deeds}}">
				{{value.message}}
				</my-feed-item>
			</a>
		</div>
	</div>
</div>

<div class='home-layout jumbotron'>
	<div class="page-header">
		<h2>Outstanding Deeds</h2>
	</div>
	<div class="scrollable-box">
		<div ng-repeat="(key, value) in outstandingPosts">
			<a href="#/deed/{{key}}">
				<my-feed-item my-feed-id="{{key}}" my-feed-title="{{value.community}}" my-feed-deeds="{{value.deeds}}">
				{{value.message}}
				</my-feed-item>
			</a>
		</div>
	</div>
</div>