<p>Home</p> 
<ul>
	<li ng-repeat="post in userPosts">
	{{post}}
	</li>
</ul>


	<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    </div>
  </div>
  <div class="form-group">
  	<label class="col-sm-2 control-label">Create Post</label>
    <div class="col-sm-10">
      <input class="form-control" ng-model="newPost">
      <button type="submit" class="btn btn-default" ng-click="submitPost($event)">Post</button>
    </div>
  </div>
<button ng-click="logout($event)">logout</button>
