<div class="jumbotron">
	<h1>
		{{deedObj.community}}
		<span class="label label-default">Deeds: {{deedObj.deeds}}</span>
	</h1>
	<p><b>{{deedObj.user}}</b></p>
	<p>{{deedObj.message}}</p>
	<my-edit-post-modal my-deed-id="{{deedId}}"></my-edit-post-modal>
	<h2>
		<button ng-click="deleteDeed($event)">
			<div style="display: inline-block; cursor: pointer; cursor: hand;">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				<p>Delete</p>
			</div>
		</button>

		<button ng-click="deedCompleted($event)">
			<div style="display: inline-block; cursor: pointer; cursor: hand;">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				<p>Completed</p>
			</div>
		</button>


	</h2>
</div>